.mainpic{
    padding-top: 4rem;
}

.dp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.title{
    font-size: small;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}